<html> 	
    <head>
        <title>Parahybaja-CNC-workshop</title>
    </head>
    <body>
        <h2>Parahybaja DRC template for the workshop CNC</h2>
        <p>This is a basic template to be used on the workshop CNC. Contains basics design rules for the DRC.</p>
        <h3>How to use it?</h3>
        <p>Create a project from Parahybaja-CNC-workshop template, build everything you need and then make sure your board passes the design rule check (DRC). You can use the predefined track width sizes and net-classes to make the job easier.</p>
    </body>
</html> 